
Linguagem-C/output/1-ConsumoEnergia.exe
Linguagem-C/output/2-Conversões_Sistema_Métrico.exe
Linguagem-C/output/3-LataCerveja.exe
Linguagem-C/output/4-SeriePares.exe
Linguagem-C/output/5-SomaPa.exe
Linguagem-C/output/5-SomaPa.exe
